<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1>Dashboard</h1>
{% for p in passwordobject %}
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <form action="/dashboard/passwordform" method="POST">
            {% csrf_token %} 

        <div class="card-header">Password 
        </div>
        <div class="card-body">
        
           <input name="id" style="display: none;" value="{{ p.id }}">
 
            <div class="form-group">
                <label for="exampleInputUrl1">Url</label>
                <input name="url" type="text" class="form-control" id="exampleInputUrl1" value="{{ p.url }}">
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input name="username" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ p.username }}">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="password" type="text" class="form-control" id="exampleInputPassword1" value="{{ p.password }}">
            </div>
           
          
            <button type="submit" class="btn btn-success">Submit</button>
            
            
          </form>
          <form action="/dashboard/deletepassword" method="POST">
            {% csrf_token %} 
            <input type="text" name="id" style="display: none;" value="{{ p.id  }}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        </div>
      </div>
{% endfor %}

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Add Password
    </div>
    <div class="card-body">
    


      <form action="/dashboard/addpassword" method="POST">
        {% csrf_token %} 
        <div class="form-group">
            <label for="exampleInputUrl1">Url</label>
            <input name="url" type="text" class="form-control" id="exampleInputUrl1" placeholder="url">
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input name="username" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="text" class="form-control" id="exampleInputPassword1" placeholder="password">
        </div>
       
      
        <button type="submit" value="Submit" class="btn btn-success">Add</button>
      </form>


    </div>
  </div>